<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#edit-{meeting.uid}">
    <i class="fa fa-fw fa-edit"></i>
</button>

<!-- Modal -->
<div class="modal fade text-left" id="edit-{meeting.uid}" tabindex="-1" role="dialog" aria-labelledby="edit-{meeting.uid}-label">
    <f:form action="update" object="{meeting}" objectName="meeting">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="edit-{meeting.uid}-label">Anwesenheitsliste bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <f:render partial="Meeting/FormFields" arguments="{leaders : leaders, meeting : meeting}" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <f:form.button type="submit" class="btn btn-primary">Liste aktualisieren</f:form.button>
                </div>
            </div>
        </div>
    </f:form>
</div>