.tx-bw-dpsg-corona {
  ul.f3-widget-paginator {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    font-size: 0.9em;

    li {
      display: inline-block;

      &.current, a {
        background: #EEE;
        padding: 5px 15px;
        border: solid 1px #BBB;
        text-decoration: none;
        color: #000;
      }
      a {
        display: block;
      }
      &.current, a:hover {
        background: #DDD;
      }
    }
  }

  ul.typo3-messages {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}